%% Configuração para habilitar o log do kernel para o nível debug
[
    {kernel, [
        {logger, [
         {level, debug} %% Log em nível DEBUG (debug, info, warning, error)
        ]},
        {async_threads, 64} %% Thread pool para operações assíncronas. Ajuste este valor conforme necessário
     ]},
     {rabbitmq, [
       {cluster_formation, [
            {peer_discovery_backend, rabbit_peer_discovery_classic_config} %% Para cluster (se necessário, defina o tipo de peer discovery)
       ]},
       {heartbeat, 60000} %% Ajusta o tempo do heartbeat (em milissegundos)
     ]}
  ].