<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mapa</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
        .layer-control {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div id="map"></div>

<div id="layer-controls">
    <h2>Camadas</h2>
    <div class="layer-control">
        <label>
            <input type="checkbox" id="uf-checkbox" checked> Unidades Federativas
        </label>
    </div>
    <!-- Adicione controles para outras camadas aqui (FUNAI, INCRA, etc.) -->
</div>

<script>
    var map = L.map('map').setView([-23.5505, -46.6333], 7); // Coordenadas iniciais alterada escala

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Camada WMS para Unidades Federativas
    var wmsLayerUF = L.tileLayer.wms("http://localhost:8080/geoserver/mapas_brasil/wms", {
        layers: 'mapas_brasil:tb_uf', // workspace:nome_da_camada
        format: 'image/png',
        transparent: true,
        version: '1.1.0',
        tiled: true
    }).addTo(map);

    // Inicialmente, a camada está visível (checked no HTML)

    // Adicione outras camadas WMS aqui (FUNAI, INCRA, etc.)
    // e armazene-as em variáveis

    // Evento de clique no checkbox da camada UF
    document.getElementById('uf-checkbox').addEventListener('change', function() {
        if (this.checked) {
            map.addLayer(wmsLayerUF); // Adiciona a camada ao mapa
        } else {
            map.removeLayer(wmsLayerUF); // Remove a camada do mapa
        }
    });

    // Adicione lógica similar para os outros controles de camada

    var marker = L.marker([-23.5505, -46.6333]).addTo(map); // Marcador inicial

    function updatePosition() {
        $.ajax({
            url: "/update-position",
            success: function (data) {
                var lat = data.latitude;
                var lon = data.longitude;
                marker.setLatLng([lat, lon]);
                map.panTo([lat, lon]);
            }
        });
    }

    setInterval(updatePosition, 5000); // Atualiza a posição a cada 5 segundos
</script>
</body>
</html>